@import "../scss/variables.scss";

h1 {
    color: whitesmoke;
    font-size: 400px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: linear-gradient(rgb(0, 0, 0), black);
    background-size: contain;
    background-repeat: round;
    margin: auto;
    width: 98%;
    height: 98vh;
}

h2 {
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    font-style: oblique;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    font-style: oblique;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}




#tr {
    color: $tertiary-color;
    font-size: 20px;
}




table {
    color: $tertiary-color;
    background-color: $secundary-color;
    width: 100%;
    font-family: fantasy;
    list-style-position: initial;
}


#bici-fija {
    width: 300px;
    height: 300px;
}

#bici-fija:hover {
    transform: scale(1.4, 1.4);
}

#caminadora {
    width: 300px;
    height: 300px;
}

#caminadora:hover {
    transform: scale(1.4, 1.4);
}


#banco-plano {
    width: 300px;
    height: 300px;
}

#banco-plano:hover {
    transform: scale(1.4, 1.4);
}

#rack-sentadillas {
    width: 300px;
    height: 300px;
}

#rack-sentadillas:hover {
    transform: scale(1.4, 1.4);
}

#mancuernas-rusas {
    width: 300px;
    height: 300px;
}

#mancuernas-rusas:hover {
    transform: scale(1.4, 1.4);
}

#dominadas {
    width: 300px;
    height: 300px;
}

#dominadas:hover {
    transform: scale(1.4, 1.4);
}


#whatsapp {
    height: 40px;
    width: 40px;
}


.containerr {
    display: flex;
    flex-direction: row;
    background: black;
    background-position: unset;
    background-size: cover;
    justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .pp {
        font-size: 16px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .containerr {
        font-size: 16px;
        flex-direction: column;
    }
}


.parrafos {
    margin: 5px;
    padding: 50px;
    font-style: unset;
    letter-spacing: normal;
    line-height: 34px;
    word-spacing: normal;
    font-size: 26px;
    text-transform: initial;
    color: $primary-color;
    font-family: 'Noto Sans', sans-serif;
    flex-basis: 300px;
    flex-grow: 2;
}

.parrafoss {
    margin: 5px;
    padding: 50px;
    font-style: unset;
    letter-spacing: normal;
    line-height: 34px;
    word-spacing: normal;
    font-size: 26px;
    text-transform: initial;
    color: $primary-color;
    font-family: 'Noto Sans', sans-serif;
    flex-basis: 300px;
    flex-grow: 0;
}


.container-nuevos {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 100px 1fr 1fr 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    grid-template-areas:
        "header header header"
        "header header header"
        "main main section"
        "main main section"
        "main main section"
        "footer footer footer";
}

.item-prueba {
    background-color: rgb(155, 80, 80);
    color: $primary-color;
    align-items: stretch;
    justify-content: stretch;
    font-size: 18px;
    padding: 5px;
}

#header-prueba {
    grid-area: header;
}

#section-prueba {
    grid-area: section;
}

#maiin {
    grid-area: main;
}

#nav-prueba {
    grid-area: nav;
}

#footer-prueba {
    grid-area: footer;
    background-color: #24303c;
}


#logoo {
    width: 180px;
    height: 120px;
    list-style-type: none;
    bottom: 180px;
    left: 200px;
}


@media only screen and (max-width: 400px) {
    .container-nuevos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 100px 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "nav nav nav"
            "main main main"
            "section section section"
            "footer footer footer"
        ;
    }

    h1 {
        font-size: 40px;
    }
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    .container-nuevos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 100px 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "nav nav nav"
            "main main main"
            "section section section"
            "footer footer footer"
        ;
    }

    h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 961px) {
    .item-prueba {
        background-color: rgb(155, 80, 80)
    }
}



.container-home {
    width: 100%;
    max-width: 1400px;
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    grid-template-areas:
        "header header header"
        "header header header"
        "header header header"
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}

.item-home {
    align-items: stretch;
    justify-content: stretch;
    font-size: 18px;
    padding: 5px;
    color: $primary-color;

    h2 {
        color: blue;
    }

    h3 {
        color: blue;
    }
}


#header-home {
    grid-area: header;
}


#nav-home {
    grid-area: nav;
}

#main-home {
    grid-area: main;
}


#footer-home {
    grid-area: footer;
    background-color: #24303c;
}


#logo {
    width: 80px;
    height: 80px;
    list-style-type: none;
    position: relative;
    bottom: 4px;
    left: 1px;
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 2s;
}



@keyframes animacion {

    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    75% {
        transform: rotate(30deg);
    }
}



.mainContacto {
    background-color: #24303c;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 80px;
    border-radius: 4px;
    color: $primary-color;
    box-shadow: 7px 13px 37px;
}


.control {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.boton-enviar {
    background: blue;
    color: cornsilk;
    width: 100px;
    height: 50px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: transform 2s;
    background: linear-gradient(to left top, #005aa7, #fffde4);
    text-transform: uppercase;
    font-size: 20px;

    &:hover {
        background: rgb(62, 62, 163);
        transform: translateY(-7px);
        transition: all cubic-bezier(03215, 0.610, 0355, 1).2s;
    }
}

.boton-limpiar:active {
    transform: translateY(12px);
}

.boton-limpiar {
    background: blue;
    color: cornsilk;
    width: 100px;
    height: 50px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: transform 2s;
    background: linear-gradient(to left top, #005aa7, #fffde4);
    text-transform: uppercase;
    font-size: 20px;

    &:hover {
        background: rgb(62, 62, 163);
        transform: translateY(-7px);
        transition: all cubic-bezier(03215, 0.610, 0355, 1).2s;
    }
}


.boton-limpiar:active {
    transform: translateY(12px);
}

.control:focus {
    height: 77px;
}

#logo-home {
    width: 250px;
    height: 200px;
    list-style-type: none;
    position: relative;
    bottom: 4px;
    left: 1px;
}


.navColor {
    background-color: $secundary-color;
}

.imgGaleria {
    width: 100%;
    height: 250px;

    &:hover {
        border: 5px solid $primary-color;
    }
}


.blog-card {
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 100px;

    &__title {
        font-weight: bold;
        font-size: 30px;
    }

    &__text {
        font-size: 16px;
    }

    &--italic {
        font-style: italic;
    }

}

.blog-card__btn {
    font-size: 26px;
    text-transform: uppercase;
    background-color: #7a7a7a;
    color: $primary-color;
    font-weight: bold;
    padding: 5px;
    width: 90%;

    &:hover {
        background-color: $primary-color;
    }
}

.contenedorNuevos__item {
    background-color: blue;

    &--black {
        background-color: rgba(0, 0, 0, 0.548);
    }
}

.contenedorDiv__item {
    background-color: violet;
    font-style: normal;
    font-size: 26px;
    padding: 5px;

    &--italia {
        background-color: gray;
        font-style: italic;
    }
}

.contenedorDivp__item {
    background-color: $secundary-color;
    color: $primary-color;
    font-style: normal;
    font-size: 26px;
    padding: 5px;

    &--rojo {
        background-color: rgb(139, 11, 11);
        font-style: italic;
    }
}

.contenedorNuevo__item {
    font-style: initial;

    &--letra {
        font-style: oblique;
    }
}


.contenedorDivpp__item {
    width: 300px;
    height: 200px;

    &--cambio {
        width: 600px;
        height: 400px;
    }
}


.contenedorNuevoh__item {
    font-style: initial;

    &--h {
        background-color: rgb(133, 34, 80);
        color: $primary-color;
    }
}


$width:200px;
$height:200px;

$page: home;

.hero {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

    @if ($page==about) {
        background-color: rgb(187, 185, 185);
    }

    @else if ($page==home) {
        background-color: rgb(95, 219, 84);
    }

    @else {
        background-color: yellow;
    }
}


$color: rgb(30, 4, 77);

.parrafosPrueba {
    margin: 20px;
    font-weight: bold;
    text-align: center;
}

@for $i from 1 through 4 {
    .parrafo#{$i} {
        font-size: $i * 1em;
        color: $color *$i;
    }
}


.parrafosPrueba {
    margin: 20px;
    font-weight: bold;
    text-align: center;
}

@for $i from 1 through 3 {
    .parrafo#{$i} {
        font-size: $i * 0.7em;
    }
}

.nav-link {
    color: white !important;
}


#contacto:hover {
    background-color: #1DB954;
}



footer {
    position: fixed;
    min-height: 5%;
    height: 100px;
    bottom: 0;
    width: 100%;
}


body main .card {
    border-radius: 4px;
    position: relative;
    background: #fff;
    fill: rgb(105, 103, 103);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.img__description::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 45%;
    width: 10%;
    text-align: center;
    z-index: 1;
    border-bottom: 3px solid #fff;
}


.img__description {
    position: absolute;
    background-color: #000;
    text-align: center;
    padding-right: 45px;
    padding-left: 15px;
    width: 100%;
    overflow: hidden;
    height: 70%;
    color: #fff;
    opacity: 0.9;
    bottom: -70%;

}

.img__description {
    transition: top 0.2s ease-out, bottom 0.5s ease-out;
}

.img__description .grid-bot {
    transition: padding 0.2s ease-out 0.4s;
    padding: 10% 0;
    margin: 0;
    font-weight: 300;
}

.card:hover .img__description {
    bottom: 0;
    transition-delay: 0.2s;
}

#carta {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    color: whitesmoke;
    background-color: whitesmoke;

}



#carta {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}


.content {
    margin-bottom: 4em;
}

.content p {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.container h1 {
    font-size: 2.2rem;
}

.v7 p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, #f6e05e, #f6e05e);
}

.v7:hover p {
    background-position: right;
    background-size: 100% 100%;
}

/*ERROR 404*/

.error-container {
    text-align: center;
    font-size: 180px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}

.error-container>span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #FFB485;
}

.error-container>span>span {
    display: inline-block;
    position: relative;
}

.error-container>span:nth-of-type(1) {
    perspective: 1000px;
    perspective-origin: 500% 50%;
    color: #F0E395;
}

.error-container>span:nth-of-type(1)>span {
    transform-origin: 50% 100% 0px;
    transform: rotateX(0);
    animation: easyoutelastic 8s infinite;
}

.error-container>span:nth-of-type(3) {
    perspective: none;
    perspective-origin: 50% 50%;
    color: #D15C95;
}

.error-container>span:nth-of-type(3)>span {
    transform-origin: 100% 100% 0px;
    transform: rotate(0deg);
    animation: rotatedrop 8s infinite;
}


@keyframes easyoutelastic {
    0% {
        transform: rotateX(0);
    }

    9% {
        transform: rotateX(210deg);
    }

    13% {
        transform: rotateX(150deg);
    }

    16% {
        transform: rotateX(200deg);
    }

    18% {
        transform: rotateX(170deg);
    }

    20% {
        transform: rotateX(180deg);
    }

    60% {
        transform: rotateX(180deg);
    }

    80% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(0);
    }
}

@keyframes rotatedrop {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(30deg);
    }

    15% {
        transform: rotate(90deg);
    }

    70% {
        transform: rotate(90deg);
    }

    80% {
        transform: rotate(0);
    }

    100% {
        transform: rotateX(0);
    }
}

.anchor-init {
    color: #FFFFFF !important;
    text-decoration: none !important;
}