<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keyword" content="Indumentaria deportiva y accesorios, Lanús">
  <meta name="description" content="consegui las mejores ofertas en ropa deportiva para entrenar con mas comodidad!">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Indumentaria Fithouse</title>
</head>

<body>
  <header id="header-home" class="item-home mb-0">
    <header class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-black mb-0">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html">
            <img src="../recursos2/logo opción 2.jpg" alt="logo" id="logo-home">
          </a>
          <button class="navbar-toggler btn-close-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" id="contacto" href="../views/contacto.html">Contacto</a></li>
                  <li><a class="dropdown-item" id="contacto" href="../views/shop.html">Shop</a></li>
                  <li><a class="dropdown-item" id="contacto" href="../views/nuevos.html">Nuevos</a></li>
                  <li><a class="dropdown-item" id="contacto" href="../views/indumentaria.html">Indumentaria</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" id="contacto" href="../index.html">Home</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    </div>
    <p class="text-white text-center h5">Visita nuestras exclusivas instalaciones</p>
    <div class="container">
      <div class="row mt-0 mb-0">
        <div class="col-12 col-sm-7 m-auto">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner" id="proyectos-github">
              <div class="carousel-item active">
                <img src="../recursos2/mujer.jpg" class="d-block w-75 m-auto" alt="MUJER-GIMNASIO">
              </div>
              <div class="carousel-item">
                <img src="../recursos2/hombre.jpg" class="d-block w-75 m-auto" alt="HOMBRE-GIMNASIO">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <h1>Indumentaria</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card bg-success" id="carta" style="width: 18rem;">
            <img class="card-img-top" src="../recursos2/Calzado.jpg" alt="Card image cap">
            <div class="img__description">
                <p class="grid-bot">Calzado deportivo</p>
            </div>
            <div class="card-body">
                <p class="card-text">Contamos con los mejores calzados deportivos del mercado.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card bg-success" id="carta" style="width: 18rem;">
            <img class="card-img-top" src="../recursos2/Short.jpg" alt="Card image cap">
            <div class="img__description">
                <p class="grid-bot">Shorts</p>
            </div>
            <div class="card-body">
                <p class="card-text">Shorts de futbol, artes marciales y muchos deportes mas</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card bg-success" id="carta" style="width: 18rem;">
            <img class="card-img-top w-75 m-auto" src="../recursos2/Natacion.jpg" alt="Card image cap">
            <div class="img__description">
                <p class="grid-bot">Accesorios</p>
            </div>
            <div class="card-body">
                <p class="card-text">Gorras de natacion, vendaje de box, bucales y todos los accesorios que puedas imaginarte</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
      <div class="card bg-success" id="carta" style="width: 18rem;">
          <img class="card-img-top" src="../recursos2/Remera.jpg" alt="Card image cap">
          <div class="img__description">
              <p class="grid-bot">Remeras y buzos</p>
          </div>
          <div class="card-body">
              <p class="card-text">Remeras y buzos antisudor</p>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
      <div class="card bg-success" id="carta" style="width: 18rem;">
          <img class="card-img-top w-75 m-auto" src="../recursos2/Campera.jpg" alt="Card image cap">
          <div class="img__description">
              <p class="grid-bot">Camperas deportivas</p>
          </div>
          <div class="card-body">
              <p class="card-text">Las mejores camperas deportivas del pais.</p>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
    <div class="card bg-success" id="carta" style="width: 18rem;">
        <img class="card-img-top w-75 m-auto" src="../recursos2/Pelota.jpg" alt="Card image cap">
        <div class="img__description">s
            <p class="grid-bot">Pelotas</p>
        </div>
        <div class="card-body">
            <p class="card-text">Para todo tipo de deporte, futbol, basket, rugby, voley, etc</p>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>

    <div class="footer-margin w-25">

      <footer class="card-footer bg-dark footer-font-style text-muted footer-position bg-gradient text-center">

        <a class="btn btn-outline-light  m-1" href="mailto:federico.garcia.96@outlook.es" role="button"
          target="_blank"><i class="fa fa-paper-plane"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-info  m-1" href="#" role="button" target="_blank"><i class="fa fa-linkedin"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-danger  m-1" href="https://github.com/federicoGV114" role="button" target="_blank"><i
            class="fa fa-github"></i></a>
        <!-- Twitter -->
        <a class="btn btn-outline-primary  m-1" href="#!" role="button" target="_blank"><i
            class="fa fa-twitter"></i></a>

        <!-- whatsapp -->
        <a class="btn btn-outline-success  m-1" href="https://api.whatsapp.com/send?phone=+541166578842" role="button"
          target="_blank"><i class="fa fa-whatsapp"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-danger  m-1" href="#!" role="button" target="_blank"><i
            class="fa fa-instagram"></i></a>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>