<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="Novedades sobre productos de gimnasio, hacete socio, Lanús">
    <meta name="description" content="Nuevos productos y descuentos en productos de gimnasio!">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Nuevos Fithouse</title>
</head>

<body>
    <div class="container-nuevos">
        <header id="header-prueba" class="item-prueba">
            <nav class="navbar navbar-expand-lg navColor sticky-top">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="../recursos2/logo opción 2.jpg" alt="logo" id="logo-home">
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="./contacto.html" class="nav-link">CONTACTO</a>
                            </li>
                            <li class="nav-item">
                                <a href="./shop.html" class="nav-link">SHOP</a>
                            </li>
                            <li class="nav-item">
                                <a href="./indumentaria.html" class="nav-link">INDUMENTARIA</a>
                            </li>
                            <li class="nav-item">
                                <a href="./nuevos.html" class="nav-link">NUEVOS</a>
                            </li>
    
                            <li class="nav-item"><a href="../index.html" class="nav-link">HOME</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        
            <h1>FIHOUSE</h1>

        </header>

        <main id="maiin" class="item-prueba">
            <div class="contenedorNuevos">
            
                <div class="contenedorNuevos__item">
                    <p> A partir del 18/09 se comercializaran los siguientes productos:</p>
                </div>
                <div class="contenedorNuevos__item">
                    <ul>
                        <li>Pisos de caucho</li>
                        <li>Colchonetas</li>
                        <li>Barras olimpicas</li>
                    </ul>
                </div>
                <div class="contenedorNuevos__item contenedorNuevos__item--black">
                    <p>Esten atentos a los siguientes anuncios!</p>
                </div>




                <div class="mixin">
                    <div class="box-big">Novedades Octubre</div>
                    <div class="box-medium">Novedades Noviembre</div>
                    <div class="box-small">Novedades Diciembre</div>
                </div>
            </div>


        </main>
        <section id="section-prueba" class="item-prueba">
            <div class="contenedorNuevo">
                <div class="contenedorNuevo__item">
                    <h3>hacete socio</h3>
                </div>
                <div class="contenedorNuevo__item contenedorNuevo__item--letra">
                    <p>Pronto podras asociarte a nuestra pagina web y te enviaremos noticias sobre todas las novedades y
                        descuentos a tu casilla de mail</p>
                </div>
            </div>

            <div class="contenedorNuevoh">
                <div class="contenedorNuevoh__item">
                    <h3>aprovecha los descuentos en nuestas asesorias personalizadas</h3>
                </div>
                <div class="contenedorNuevoh__item contenedorNuevoh__item--h">
                    <p>Tenemos asesorias planeadas especificamente para vos, para que puedas entrenar desde tu casa o en
                        cualquier lado</p>
                </div>
                <div class="contenedorNuevoh__item">
                    <p>Aprovecha tambien nuestros planes de nutricion para ganar masa muscular</p>
                </div>
            </div>






        </section>
        <footer id="footer-prueba" class="item-prueba">
            <cite>
                <p>
                    <em>
                        copyright 2021 fithouse
                        Buenos Aires, Argentina
                    </em>
                </p>
            </cite>
            <div class="botonWhats"><a href="https://api.whatsapp.com/send?phone=+541166578842">
                    <img src="../recursos2/whatsapp.jpg" alt="link a whatsapp" id="whatsapp">
                </a>
            </div>
            <div class="each">
                <ul class="social">
                    <li class="facebook"></li>
                    <li class="twitter"></li>
                    <li class="instagram"></li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>